// Custom color for the boostrap theme
$theme-colors: (
  "primary": #4faa43,
  "secondary": #9e43aa,
);

// Import bootstrap
@import "~bootstrap/scss/bootstrap";

// Import Manrope Font
@import "~@openfonts/manrope_all/index.css";

// Sections (each sections has the same main style)
section {
  margin: 3vh;
  scroll-behavior: smooth;
  scroll-margin-top: 60px;

  h2 {
    text-align: center;
    font-weight: lighter;
  }
}

// Define shadows variables
$shadowBase: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
$shadowElevated: 0 8px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);

// Navbar customisation
.navbar {
  -webkit-box-shadow: $shadowBase;
  -moz-box-shadow: $shadowBase;
  box-shadow: $shadowBase;
}

// Card customization
.card {
  padding: 0;
  margin: 0.5vw;

  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;

  -webkit-box-shadow: $shadowBase;
  -moz-box-shadow: $shadowBase;
  box-shadow: $shadowBase;

  &:hover {
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;

    -webkit-box-shadow: $shadowElevated;
    -moz-box-shadow: $shadowElevated;
    box-shadow: $shadowElevated;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tags {
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
  }

  .card-img-container, 
  .card-img-container-43 {
    position: relative;

    &::after {
      display: block;
      content: "";
    }

    .card-img-top {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-img-container {
    &::after {
      /* 16:9 aspect ratio */
      padding-bottom: 56.25%;
    }
  }

  .card-img-container-43 {
    &::after {
      /* 4:3 aspect ratio */
      padding-bottom: 75%;
    }
  }
}

// Modal customizations
.modal-dialog {
  -webkit-box-shadow: $shadowElevated;
  -moz-box-shadow: $shadowElevated;
  box-shadow: $shadowElevated;
}

// Matrerial guideline for typgoraphy
body {
  font-family: "Manrope", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1 {
  font-weight: 100;
}

h2 {
  font-weight: lighter;
}

h4 {
  letter-spacing: 0.25px;
}

// Some other material design customisations
.btn {
  border-radius: 0;
}
