<header id="home" class="bg-primary text-center">
    <div class="container d-flex align-items-center flex-column text-white">
        <!-- Personnal Image-->
        <img class=""
            src="https://avatars2.githubusercontent.com/u/18531342?s=460&u=0f20457a9f909e6a1ddb6354ace14a7a26db1c85&v=4"
            alt="Profile picture">

        <!-- Header text-->
        <h1>Quentin Nivelais</h1>
        <hr>
        <p class="font-weight-light" i18n="@@app.home.intro">Teach Lead - App developer - Freelancer</p>

        <!-- Header Link  -->
        <hr>
        <p class="font-weight-light">
            <a href="https://github.com/KONFeature">
                <fa-icon [icon]="['fab', 'github']"></fa-icon> Github
            </a>
            <a href="https://fr.linkedin.com/in/quentin-nivelais-5081a4141">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> Linkedin
            </a>
            <a href="assets/cv.pdf">
                <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon> C.V.
            </a>
        </p>
    </div>
</header>

<app-projects></app-projects>

<app-skills></app-skills>

<app-career></app-career>